<div class="card top-buttons">
    
    <button pButton back-button>
        <i class="pi pi-arrow-left"></i>&nbsp;&nbsp;
        Back
    </button>

    &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;

    <button pButton (click)="navigateToCheckout()">
        Checkout &nbsp;
        <i class="pi pi-angle-double-right"></i>&nbsp;&nbsp;
        <i class="pi pi-money-bill"></i>&nbsp;&nbsp;
    </button>

</div>

<div id="floating-panel" *ngIf="basket.length > 0">
    <h1>Total amount to pay:</h1>
    <h2><strong>£{{totalAmount.toFixed(2)}}</strong></h2>
</div>

<div class="card">

    <div class="card product-card" *ngFor="let product of basket; let idx = index; trackBy: trackProductByIndex;">

        <span>
            <img src="{{product.imagePath}}" alt="product_image" style="height: 200px; width: 200px;">
        </span>

        <span>

            <p><strong>{{product.name}}</strong></p>
            <p>£{{product.price.toFixed(2)}}</p>

        </span>

        <span>
            <div>
                <p-inputNumber [showButtons]="true" [(ngModel)]="quantity[idx]" [min]="1" [max]="100" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical"
                    decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                    (ngModelChange)="calculateTotal()">
                </p-inputNumber>
            </div>
        </span>

        <span>
            <button pButton (click)="removeFromBasket(product)">
                <i class="pi pi-trash"></i>
            </button>
        </span>

    </div>

</div>