<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Confirmation
        </ng-template>
        <ng-template pTemplate="subtitle">
            Please check your details
        </ng-template>
        <ng-template pTemplate="content">
            <div class="field col-12">
                <label for="class">Full name</label>
                <input pInputText value="{{confirmationInformation.personalInformation?.firstname ? confirmationInformation.personalInformation?.firstname : '-'}} {{confirmationInformation.personalInformation?.lastname ? confirmationInformation.personalInformation?.lastname : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Age</label>
                <input pInputText value="{{confirmationInformation.personalInformation?.age ? confirmationInformation.personalInformation?.age : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Street</label>
                <input pInputText value="{{confirmationInformation.addressInformation?.street ? confirmationInformation.addressInformation?.street : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Apt, suite, etc</label>
                <input pInputText value="{{confirmationInformation.addressInformation?.apartment ? confirmationInformation.addressInformation?.apartment : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>City</label>
                <input pInputText value="{{confirmationInformation.addressInformation?.city ? confirmationInformation.addressInformation?.city : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Country</label>
                <input pInputText value="{{confirmationInformation.addressInformation?.country ? confirmationInformation.addressInformation?.country : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Postcode</label>
                <input pInputText value="{{confirmationInformation.addressInformation?.postcode ? confirmationInformation.addressInformation?.postcode : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Cardholder Name</label>
                <input pInputText value="{{confirmationInformation.paymentInformation?.cardholderName ? confirmationInformation.paymentInformation?.cardholderName : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Card Number</label>
                <input pInputText value="{{confirmationInformation.paymentInformation?.cardholderNumber ? confirmationInformation.paymentInformation?.cardholderNumber : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>Date</label>
                <input pInputText value="{{confirmationInformation.paymentInformation?.date ? confirmationInformation.paymentInformation?.date : '-'}}" readonly>
            </div>
            <div class="field col-12">
                <label>CVV</label>
                <input pInputText value="{{confirmationInformation.paymentInformation?.cvv && confirmationInformation.paymentInformation?.cvv.length === 3  ? '**' + confirmationInformation.paymentInformation.cvv[2] : '-'}}" readonly>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                &nbsp;&nbsp;
                <p-button label="Complete" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right" styleClass="p-button-success"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>