#navigation-panel
    width: 140px
    height: 100%
    background-color: rgb(255, 173, 5)
    position: fixed
    top: 0
    left: 0
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px

nav
    ul
        display: block
        font-size: 1.4em
        list-style-type: none
        padding: 0
        margin: 0
        li
            margin-left: 1.4em
            margin-right: 1.4em
            margin-bottom: 1.4em
            .pi
                display: block
            .pi::before
                font-size: 48px
            a
                text-decoration: none
                color: blue