<div id="user-profile">

    <h1>Welcome {{currentUser?.username}}</h1>

    <!-- That will be updated with user's image -->
    <div id="profile-image">
        
        <div *ngIf="showPicture == true then picture else noPicture;"></div>
        
        <ng-template #picture>
        
            <div id="update-user-picture" (mouseenter)="toggleUpdatePictureButton()"
                (mouseleave)="toggleUpdatePictureButton()">

                <img src="{{currentUser?.avatarUrl}}" 
                    alt="'{user avatar image}'">

                <div id="input-wrapper">

                    <label class="avatar-button" for="update-picture-input">
                        <br>
                        <strong>Update picture</strong>
                    </label>
    
                    <input hidden type="file" id="update-picture-input" name="update-picture-input"
                        accept="image/png, image/jpeg"
                        (click)="openUpdatePictureModal($event)"
                    >

                </div>
                
            </div>

        </ng-template>

        <ng-template #noPicture>
            
            <div id="upload-user-picture">

                <img src="">
        
                <!-- <button class="avatar-button" ><strong>Upload your picture</strong></button> -->

                <label class="avatar-button" for="upload-picture-input">
                    <br>
                    <strong>Upload your picture</strong>
                </label>

                <input hidden type="file" id="upload-picture-input" name="upload-picture-input"
                    accept="image/png, image/jpeg"
                    (click)="openUploadPictureModal($event)"
                >

            </div>

        </ng-template>

    </div>

    

    <div class="profile-output">
        <label for="user-role">Username:</label>
        <input id="user-role" name="role" type="text" pInputText [disabled]="shouldInputBeDisabled('username')" value="{{currentUser?.role}}">
    </div>

    <div class="profile-output">
        <label for="user-role">Role:</label>
        <input id="user-role" name="role" type="text" pInputText [disabled]="shouldInputBeDisabled('role')" value="{{currentUser?.role}}">
    </div>

    <div class="profile-output">
        <label for="user-email">Email:</label>
        <input id="user-email" name="email" type="text" pInputText [disabled]="shouldInputBeDisabled('email')" value="{{currentUser?.email}}">
    </div>

    <div class="profile-output">
        <label for="user-created">Date of joining:</label>
        <input id="user-created" name="created" type="text" pInputText [disabled]="shouldInputBeDisabled('createdAt')" value="{{formatDateString(currentUser?.createdAt)}}">
    </div>

    <div class="profile-output">
        <label for="user-updated">Profile last updated on:</label>
        <input id="user-updated" name="updated" type="text" pInputText [disabled]="shouldInputBeDisabled('updatedAt')" value="{{formatDateString(currentUser?.updatedAt)}}">
    </div>

    <button pButton type="button" label="Update profile" icon="pi pi-save" iconPos="left" (click)="updateProfile()"></button>

</div>