<div id="create-post">

    <form id="create-post-form" [formGroup]="createPostGroup" (ngSubmit)="createPost()">

        <textarea pInputTextarea id="new-post-content" placeholder="Share your thoughts here..." 
            formControlName="content" rows="4"></textarea>

        <br>
        <br>

        <button pButton type="submit">Create post</button>

    </form>

</div>

<div id="posts-list">

    <ul id="posts-ul">

        <li *ngFor="let post of posts; trackBy: trackPostByIndex; let i = index;" class="post-body">

            <div class="post-header">

                <img src="https://cdn.pixabay.com/photo/2018/03/04/22/17/cranium-3199408_960_720.png" 
                    alt="author-avatar" />
                <p class="author">{{post.authorId}}</p>
                <p class="creation-time" *ngIf="post.createdAt">{{formatDate(post.createdAt)}}</p>
                <p class="creation-time" *ngIf="!post.createdAt">17:19 09/04/2022</p>

            </div>

            <br>

            <div class="post-content">
                <p class="content">{{post.content}}</p>
            </div>

            <button *ngIf="editPostTimeIsValid(post) && canDisplayEditButton[i]" 
                pButton (click)="showEditArea(i)" class="edit-post-button">
                    <i class="pi pi-pencil"></i>&nbsp;
                    Edit post
            </button>

            <button *ngIf="editPostTimeIsValid(post) && canDisplayEditButton[i]" 
                pButton (click)="deletePost(post)" class="edit-post-button">
                    <i class="pi pi-trash"></i>&nbsp;
                    Delete post
            </button>

            <div class="edit-post" *ngIf="canDisplayEditArea[i]">

                <form [formGroup]="editForms[i]" (ngSubmit)="editPost(i, post)">

                    <textarea pInputTextarea class="update-post-content" rows="4" formControlName="content">{{post.content}}</textarea>

                    <button pButton type="submit"><i class="pi pi-save"></i>&nbsp;Submit</button>
                    <button pButton (click)="cancelEditPost(i)">Cancel</button>

                </form>

            </div>

        </li>

    </ul>

</div>