/* You can add global styles to this file, and also import other style files */
form.login-register-form
    width: 33%
    // height: 40%
    padding: 2.5%
    margin: 2.5% auto auto auto
    border: 2px solid var(--blue-500)
    border-radius: 2%
    background-color: var(--indigo-500)
    .col-12
        margin: 0.3em
    #register-buttons-section
        display: flex
        justify-content: center
        button
            margin: 1.5%
            background-color: var(--orange-500)
    .p-invalid
        display: flex
        justify-content: center
        font-size: 14px
        color: red
        background-color: var(--blue-800)
