<div class="stepsdemo-content">

    <p-card>

        <ng-template pTemplate="title">
            Payment Information
        </ng-template>

        <ng-template pTemplate="subtitle">
            Enter your card details
        </ng-template>

        <ng-template pTemplate="content">

            <div class="field">
                <label for="class">Card Holder Name</label>
                <input #name="ngModel" id="name" type="text" required pInputText [(ngModel)]="paymentInformation.cardholderName" [ngClass]="{'ng-dirty': (name.invalid && submitted) || (name.dirty && name.invalid)}">
                <small *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)" class="p-error">Cardholder name is required.</small>
            </div>

            <div class="field">
                <label id="number" for="lastname">Number</label>
                <p-inputMask #number="ngModel" inputId="number" mask="9999-9999-9999-9999" [(ngModel)]="paymentInformation.cardholderNumber" [ngClass]="{'ng-dirty': (number.invalid && submitted) || (number.dirty && name.invalid)}"></p-inputMask>
            </div>

            <div class="field">
                <label id="date" for="date">Date</label>
                <p-inputMask #date="ngModel" inputId="date" mask="99/99" [(ngModel)]="paymentInformation.date" [ngClass]="{'ng-dirty': (date.invalid && submitted) || (date.dirty && date.invalid)}"></p-inputMask>
            </div>

            <div class="field">
                <label for="cvv">CVV</label>
                <p-inputMask #cvv="ngModel" id="cvv" mask="999" [(ngModel)]="paymentInformation.cvv" [ngClass]="{'ng-dirty': (cvv.invalid && submitted) || (cvv.dirty && cvv.invalid)}"></p-inputMask>
            </div>

            <div class="field-checkbox">
                <p-checkbox id="remember" [binary]="true" [(ngModel)]="paymentInformation.remember"></p-checkbox>
                <label for="remember" class="p-checkbox-label">Save credit card information for future</label>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">

            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                &nbsp;&nbsp;
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
            
        </ng-template>

    </p-card>

</div>